In [1]:
import os
import json
import psycopg2
from psycopg2.extras import DictCursor

POSTGRESQL_HOST = '10.129.0.25'

## Access option #1 (close connection and cursor manually)

In [2]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [3]:
conn = psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
)
cur = conn.cursor()

In [4]:
query = 'SELECT * FROM seats LIMIT 5'
cur.execute(query)
records = cur.fetchall()
records

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

In [5]:
column_names = [desc[0] for desc in cur.description]
column_width = 17
print("".join(name.ljust(column_width) for name in column_names))
for record in records:
    print("".join(str(value).ljust(column_width) for value in record))

aircraft_code    seat_no          fare_conditions
319              2A               Business
319              2C               Business
319              2D               Business
319              2F               Business
319              3A               Business

In [6]:
query_flights = 'SELECT * FROM flights LIMIT 5'
cur.execute(query_flights)
flight_records = cur.fetchall()
flight_records
column_names = [desc[0] for desc in cur.description]
max_widths = [len(name) for name in column_names]
for record in flight_records:
    for i, value in enumerate(record):
        max_widths[i] = max(max_widths[i], len(str(value)))
print(" | ".join([name.ljust(max_widths[i]) for i, name in enumerate(column_names)]))
print("-" * (sum(max_widths) + len(column_names) * 3 - 1))
for record in flight_records:
    print(" | ".join([str(value).ljust(max_widths[i]) for i, value in enumerate(record)]))

flight_id | flight_no | scheduled_departure       | scheduled_arrival         | departure_airport | arrival_airport | status    | aircraft_code | actual_departure | actual_arrival
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
2880      | PG0216    | 2017-09-14 11:10:00+00:00 | 2017-09-14 12:15:00+00:00 | DME               | KUF             | Scheduled | 763           | None             | None
3940      | PG0212    | 2017-09-04 15:20:00+00:00 | 2017-09-04 16:35:00+00:00 | DME               | ROV             | Scheduled | 321           | None             | None
4018      | PG0416    | 2017-09-13 16:20:00+00:00 | 2017-09-13 16:55:00+00:00 | DME               | VOZ             | Scheduled | CR2           | None             | None
4587      | PG0055    | 2017-09-03 11:10:00+00:00 | 2017-09-03 12:25:00+00:00 | DME               | TBW             | Scheduled | CN1           | None             | None
5694      | PG0341    | 2017-08-31 07:50:00+00:00 | 2017-08-31 08:55:00+00:00 | DME               | PES             | Scheduled | CR2           | None             | None

In [7]:
query_aircraft = 'SELECT * FROM aircrafts'
cur.execute(query_aircraft)
aircraft_records = cur.fetchall()
aircraft_records
column_names = [desc[0] for desc in cur.description]
column_width = 23
print("".join(name.ljust(column_width) for name in column_names))
for record in aircraft_records:
    print("".join(str(value).ljust(column_width) for value in record))

aircraft_code          model                  range
773                    Boeing 777-300         11100
763                    Boeing 767-300         7900
SU9                    Sukhoi Superjet-100    3000
320                    Airbus A320-200        5700
321                    Airbus A321-200        5600
319                    Airbus A319-100        6700
733                    Boeing 737-300         4200
CN1                    Cessna 208 Caravan     1200
CR2                    Bombardier CRJ-200     2700

In [8]:
cur.close()
conn.close()

## Access option #2 (use 'with' context manager)

In [9]:
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT * FROM seats LIMIT 5')
        records = cur.fetchall()
        
        cur.execute('SELECT book_ref, total_amount, book_date FROM bookings LIMIT 7')
        booking_records = cur.fetchall()
records

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

In [10]:
booking_records
column_names = [desc[0] for desc in cur.description]
column_width = 15
print("".join(name.ljust(column_width) for name in column_names))
for record in booking_records:
    print("".join(str(value).ljust(column_width) for value in record))

book_ref       total_amount   book_date
000004         55800.00       2016-08-13 12:40:00+00:00
00000F         265700.00      2017-07-05 00:12:00+00:00
000010         50900.00       2017-01-08 16:45:00+00:00
000012         37900.00       2017-07-14 06:02:00+00:00
000026         95600.00       2016-08-30 08:08:00+00:00
00002D         114700.00      2017-05-20 15:45:00+00:00
000034         49100.00       2016-08-08 02:46:00+00:00

In [11]:
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT flight_no, arrival_airport, scheduled_departure, scheduled_arrival FROM flights WHERE departure_airport = \'DME\' AND DATE(scheduled_departure) = \'2017-09-14\'')
        dme_dep_records = cur.fetchall()
dme_dep_records
column_names = [desc[0] for desc in cur.description]
column_width = 30
print("".join(name.ljust(column_width) for name in column_names))
for record in dme_dep_records:
    print("".join(str(value).ljust(column_width) for value in record))

flight_no                     arrival_airport               scheduled_departure           scheduled_arrival
PG0216                        KUF                           2017-09-14 11:10:00+00:00     2017-09-14 12:15:00+00:00
PG0239                        HMA                           2017-09-14 06:05:00+00:00     2017-09-14 08:40:00+00:00
PG0405                        LED                           2017-09-14 06:35:00+00:00     2017-09-14 07:30:00+00:00
PG0404                        LED                           2017-09-14 16:05:00+00:00     2017-09-14 17:00:00+00:00
PG0403                        LED                           2017-09-14 08:25:00+00:00     2017-09-14 09:20:00+00:00
PG0402                        LED                           2017-09-14 09:25:00+00:00     2017-09-14 10:20:00+00:00
PG0222                        OVB                           2017-09-14 08:05:00+00:00     2017-09-14 11:30:00+00:00
PG0202                        KZN                           2017-09-14 07:40:00+00:00     2017-09-14 08:35:00+00:00
PG0273                        CEK                           2017-09-14 06:50:00+00:00     2017-09-14 08:50:00+00:00
PG0212                        ROV                           2017-09-14 15:20:00+00:00     2017-09-14 16:35:00+00:00
PG0213                        ROV                           2017-09-14 16:20:00+00:00     2017-09-14 17:35:00+00:00
PG0416                        VOZ                           2017-09-14 16:20:00+00:00     2017-09-14 16:55:00+00:00
PG0055                        TBW                           2017-09-14 11:10:00+00:00     2017-09-14 12:25:00+00:00
PG0054                        TBW                           2017-09-14 14:05:00+00:00     2017-09-14 15:20:00+00:00
PG0045                        GRV                           2017-09-14 08:45:00+00:00     2017-09-14 10:50:00+00:00
PG0341                        PES                           2017-09-14 07:50:00+00:00     2017-09-14 08:55:00+00:00
PG0368                        NJC                           2017-09-14 12:35:00+00:00     2017-09-14 15:50:00+00:00
PG0335                        JOK                           2017-09-14 06:30:00+00:00     2017-09-14 08:35:00+00:00
PG0517                        SCW                           2017-09-14 07:30:00+00:00     2017-09-14 08:50:00+00:00
PG0136                        NAL                           2017-09-14 12:30:00+00:00     2017-09-14 14:30:00+00:00
PG0134                        BTK                           2017-09-14 06:50:00+00:00     2017-09-14 11:55:00+00:00
PG0168                        UUS                           2017-09-14 17:05:00+00:00     2017-09-15 01:55:00+00:00
PG0144                        PKC                           2017-09-14 14:45:00+00:00     2017-09-14 23:35:00+00:00
PG0164                        NUX                           2017-09-14 12:25:00+00:00     2017-09-14 15:35:00+00:00
PG0509                        ESL                           2017-09-14 06:15:00+00:00     2017-09-14 07:45:00+00:00
PG0210                        MRV                           2017-09-14 15:00:00+00:00     2017-09-14 16:50:00+00:00
PG0124                        NSK                           2017-09-14 08:30:00+00:00     2017-09-14 12:20:00+00:00
PG0112                        NNM                           2017-09-14 08:30:00+00:00     2017-09-14 10:40:00+00:00
PG0095                        URJ                           2017-09-14 07:45:00+00:00     2017-09-14 10:00:00+00:00
PG0289                        VKT                           2017-09-14 14:25:00+00:00     2017-09-14 17:10:00+00:00
PG0542                        OVS                           2017-09-14 10:35:00+00:00     2017-09-14 12:45:00+00:00
PG0541                        OVS                           2017-09-14 08:15:00+00:00     2017-09-14 10:25:00+00:00
PG0639                        NYM                           2017-09-14 11:50:00+00:00     2017-09-14 14:55:00+00:00
PG0019                        UUA                           2017-09-14 15:10:00+00:00     2017-09-14 16:30:00+00:00
PG0220                        KRR                           2017-09-14 15:05:00+00:00     2017-09-14 16:35:00+00:00
PG0645                        RTW                           2017-09-14 13:05:00+00:00     2017-09-14 14:05:00+00:00
PG0072                        BAX                           2017-09-14 06:55:00+00:00     2017-09-14 10:50:00+00:00
PG0208                        KHV                           2017-09-14 17:40:00+00:00     2017-09-15 01:40:00+00:00
PG0605                        ULV                           2017-09-14 15:40:00+00:00     2017-09-14 16:35:00+00:00
PG0384                        BZK                           2017-09-14 09:10:00+00:00     2017-09-14 09:40:00+00:00
PG0657                        MCX                           2017-09-14 13:15:00+00:00     2017-09-14 15:30:00+00:00
PG0142                        TOF                           2017-09-14 10:00:00+00:00     2017-09-14 13:50:00+00:00
PG0482                        KEJ                           2017-09-14 06:20:00+00:00     2017-09-14 10:20:00+00:00
PG0607                        ASF                           2017-09-14 13:15:00+00:00     2017-09-14 15:00:00+00:00
PG0030                        PEZ                           2017-09-14 08:55:00+00:00     2017-09-14 10:40:00+00:00
PG0029                        PEZ                           2017-09-14 06:40:00+00:00     2017-09-14 08:25:00+00:00
PG0593                        KVX                           2017-09-14 12:50:00+00:00     2017-09-14 15:20:00+00:00
PG0196                        KGD                           2017-09-14 09:10:00+00:00     2017-09-14 10:40:00+00:00
PG0454                        URS                           2017-09-14 07:05:00+00:00     2017-09-14 07:40:00+00:00
PG0118                        EGO                           2017-09-14 16:55:00+00:00     2017-09-14 17:40:00+00:00
PG0382                        BZK                           2017-09-14 12:20:00+00:00     2017-09-14 12:50:00+00:00
PG0383                        BZK                           2017-09-14 11:50:00+00:00     2017-09-14 12:20:00+00:00
PG0337                        ARH                           2017-09-14 09:45:00+00:00     2017-09-14 11:10:00+00:00
PG0370                        KRO                           2017-09-14 08:50:00+00:00     2017-09-14 11:15:00+00:00

In [12]:
with psycopg2.connect(
    dbname='demo', 
    user=os.environ['POSTGRESQL_USER'],
    password=os.environ['POSTGRESQL_PASSWORD'], 
    host=POSTGRESQL_HOST
) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT ticket_no, fare_conditions, amount FROM ticket_flights WHERE flight_id = \'5694\' AND fare_conditions = \'Economy\'')
        flight_cond_records = cur.fetchall()
flight_cond_records
column_names = [desc[0] for desc in cur.description]
column_width = 20
print("".join(name.ljust(column_width) for name in column_names))
for record in flight_cond_records:
    print("".join(str(value).ljust(column_width) for value in record))

ticket_no           fare_conditions     amount
0005433255215       Economy             7500.00
0005434943610       Economy             7500.00
0005433255244       Economy             7500.00
0005433255243       Economy             7500.00
0005434943612       Economy             7500.00
0005433255242       Economy             7500.00
0005434943613       Economy             7500.00
0005433255228       Economy             7500.00
0005434943611       Economy             7500.00

## With %%sql magic command

In [13]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [14]:
%load_ext sql

In [15]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In [16]:
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

In [17]:
%sql $CONNECT_DATA

In [18]:
%%sql 
SELECT * FROM pg_database LIMIT 5;

 * postgresql://reader:***@10.129.0.25/demo
4 rows affected.

[(13760, 'postgres', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, None),
 (1, 'template1', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, True, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (13759, 'template0', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, False, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (16384, 'demo', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, '{=Tc/postgres,postgres=CTc/postgres,reader=c/postgres}')]

In [19]:
%sql SELECT tablename AS table FROM pg_tables WHERE tablename !~ '^(pg_|sql_)'

 * postgresql://reader:***@10.129.0.25/demo
8 rows affected.

[('boarding_passes',),
 ('aircrafts_data',),
 ('flights',),
 ('airports_data',),
 ('seats',),
 ('tickets',),
 ('ticket_flights',),
 ('bookings',)]

In [20]:
%%sql
SELECT 
    t.ticket_no, 
    t.book_ref, 
    t.passenger_id, 
    t.passenger_name, 
    t.contact_data,
    f.departure_airport,
    f.arrival_airport
FROM 
    Tickets t
JOIN 
    Ticket_flights tf ON t.ticket_no = tf.ticket_no 
JOIN 
    Flights f ON tf.flight_id = f.flight_id 
WHERE 
    t.ticket_no = '0005432312164';

 * postgresql://reader:***@10.129.0.25/demo
4 rows affected.

[('0005432312164', '8BB042', '0423 646487', 'ALEKSEY GERASIMOV', {'email': 'a_gerasimov-22091969@postgrespro.ru', 'phone': '+70818244988'}, 'DME', 'EGO'),
 ('0005432312164', '8BB042', '0423 646487', 'ALEKSEY GERASIMOV', {'email': 'a_gerasimov-22091969@postgrespro.ru', 'phone': '+70818244988'}, 'AAQ', 'EGO'),
 ('0005432312164', '8BB042', '0423 646487', 'ALEKSEY GERASIMOV', {'email': 'a_gerasimov-22091969@postgrespro.ru', 'phone': '+70818244988'}, 'EGO', 'DME'),
 ('0005432312164', '8BB042', '0423 646487', 'ALEKSEY GERASIMOV', {'email': 'a_gerasimov-22091969@postgrespro.ru', 'phone': '+70818244988'}, 'EGO', 'AAQ')]

In [21]:
%%sql
SELECT 
    t.ticket_no, 
    t.book_ref, 
    t.passenger_id, 
    t.passenger_name, 
    t.contact_data,
    f.departure_airport, 
    f.arrival_airport,
    f.flight_id,
    tf.fare_conditions,
    tf.amount,
    f.scheduled_departure
FROM 
    Tickets t
JOIN 
    Ticket_flights tf ON t.ticket_no = tf.ticket_no 
JOIN 
    Flights f ON tf.flight_id = f.flight_id 
WHERE 
    t.ticket_no = '0005432312164'
ORDER BY f.scheduled_departure;

 * postgresql://reader:***@10.129.0.25/demo
4 rows affected.

[('0005432312164', '8BB042', '0423 646487', 'ALEKSEY GERASIMOV', {'email': 'a_gerasimov-22091969@postgrespro.ru', 'phone': '+70818244988'}, 'DME', 'EGO', 19976, 'Economy', Decimal('5400.00'), datetime.datetime(2016, 8, 15, 16, 55, tzinfo=datetime.timezone.utc)),
 ('0005432312164', '8BB042', '0423 646487', 'ALEKSEY GERASIMOV', {'email': 'a_gerasimov-22091969@postgrespro.ru', 'phone': '+70818244988'}, 'EGO', 'AAQ', 202563, 'Economy', Decimal('6300.00'), datetime.datetime(2016, 8, 16, 10, 0, tzinfo=datetime.timezone.utc)),
 ('0005432312164', '8BB042', '0423 646487', 'ALEKSEY GERASIMOV', {'email': 'a_gerasimov-22091969@postgrespro.ru', 'phone': '+70818244988'}, 'AAQ', 'EGO', 136916, 'Economy', Decimal('6300.00'), datetime.datetime(2016, 8, 24, 9, 25, tzinfo=datetime.timezone.utc)),
 ('0005432312164', '8BB042', '0423 646487', 'ALEKSEY GERASIMOV', {'email': 'a_gerasimov-22091969@postgrespro.ru', 'phone': '+70818244988'}, 'EGO', 'DME', 202076, 'Economy', Decimal('5400.00'), datetime.datetime(2016, 8, 24, 12, 30, tzinfo=datetime.timezone.utc))]